* {
  box-sizing: border-box;
}

body, html {
  height: 100vh;
  width: 100vw;
}

body {
  color: $color-white;
  background-color: $color-black;
  margin: 0;

  font: {
    family: $font-base;
    size: $size-text-regular;
    weight: $weight-regular;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $color-turquoise;
  font-weight: $weight-bold;
}

p {
  margin-bottom: 2em;
  text-align: center;
}

section {
  display: none;
  visibility: hidden;
  opacity: 0;

  height: 100vh;
  max-width: 23em;
  margin: 0 auto;
  padding: 1.5em;

  &.current-state {
    animation: fadeIn 0.3s ease-in forwards;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

nav {
  flex-shrink: 0;
  width: 100%;
  max-height: 10vh;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

article {
  flex-grow: 1;
  max-height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-shape {
  width: 100%;
  text-align: center;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    visibility: visible;
  }
}
