
.play {
  nav {
    max-height: 30vh;
  }

  article {
    width: 100%;
    max-height: 40vh;
  }

  button.control {
    @include setButtonColor($color-purple, 3.75vh, $color-black);
    padding: 4em 3em;
    max-height: 40vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: border-color 0.4s, box-shadow 0.3s;

    &:active {
      border-color: lighten($color-purple, 20%);
      box-shadow: $color-white 0 0 0 2px;

      animation-duration: 3s;
      animation-delay: 1s;
      animation-name: pulse;
      animation-iteration-count: infinite;
    }
  }

  div.control {
    width: 100%;
    position: relative;
    max-height: 15vh;

    label {
      display: block;
      position: absolute;
      top: 0;
      left: 1px;

      opacity: 0.8;
    }

    input[type='range'] {
      -webkit-appearance: none;
      width: 100%;
    }

    input[type='range']::-webkit-slider-runnable-track {
      height: 5em;
      max-height: 10vh;
      box-shadow: -2px -1px 3px 2px $color-black;
      background-image: linear-gradient(to bottom right, $color-black, $color-black 50%, transparent 50%, transparent),linear-gradient(to left, $color-black 2px, transparent 0);
      background-size: 100% 100%, 8% 100%;
      background-position: right;
      //outline: 5px solid $color-black;

    }

    input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none;
      position: relative;
      top: -1em;
      border: 3px solid lighten($color-purple, 5%);
      border-radius: 1em;
      height: 7em;
      max-height: 14vh;
      width: 5em;
      background: $color-purple;
    }

    input[type='range']:focus {
      outline: none;
    }
  }

  .display-shape {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 2vh;
    height: 10vh;

    div {
      &:first-of-type {
        font-size: larger;
        opacity: 0.8;
        margin-bottom: 0.25em;
      }

      &:last-of-type {
        height: inherit;
        width: 12vh;

        margin-left: 0.5em;
      }
    }
  }
}


@keyframes pulse {
  0% { border-color: lighten($color-purple, 0%) }
  60% { border-color: lighten($color-purple, 40%) }
  100% { border-color: lighten($color-purple, 0%) }
}