$color-white: #eff5d9;
$color-black: #2e3831;
$color-turquoise: #508Bce;
$color-pink: #c982e5;
$color-purple: #7c72e5;

$font-system: -apple-system, 'Segoe UI', 'Roboto', 'Fira Sans', 'Droid Sans', sans-serif;

$font-base: $font-system;

$weight-regular: 300;
$weight-bold: 500;

$size-text-regular: 1.15rem;

$button-color: $color-pink;