@import 'variables';
@import 'base';
@import 'button';
@import "loader";
@import 'paint-ui';

svg.logo {
  fill: $color-white;
  stroke: $color-black;
  stroke-width: 3px;
  margin-top: 2vh;
}

h1 {
  text-align: center;
  //font-size: 5vh;
  flex-grow: 1;
  margin-top: 2em;
}

nav {
  button {
    @include setButtonColor($button-color, 3vh, $color-black);
  }
}

.splash {
  max-height: 100vh;

  header {
    max-height: 30vh;
  }

  h1 {
    max-height: 40vh;
  }

  nav {
    max-height: 30vh;
  }
}

.info {
  height: auto;

  article {
    margin-top: 2em;
    flex-grow: 1;
    max-height: 300vh;
  }

  nav {
    margin-top: 1em;
  }

  p {
    margin: 0 0 2em;

    text-align: left;
    font-size: 0.95em;

    &:last-of-type {
      flex-grow: 1;
    }
  }
}

.queue {
  p {
    margin: 1em 0;
  }

  div.queue--number {
    font-size: 4em;
    margin: 0.5em 0;
    text-align: center;
  }
}

// todo: remove
.fpo {
  padding: 2em;
  border: 2px solid $color-white;
  background-color: #777;
  color: $color-black;
  font-weight: $weight-bold;

  display: inline-block;
}

.calibrate {
  header {
    max-height: 25vh;
  }

  article {
    margin-top: 2em;
    display: none;
    max-height: 65vh;

    animation: slideInRight 0.5s ease-out forwards;

    &.current-step {
      display: block;
    }
  }

  nav {
    max-height: 10vh;
  }
}


@keyframes slideInRight {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(5vh);
    transform-origin: center;
  }

  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
